{
	admin off
}

*.server.home.apra, server.home.apra {
	tls internal {
	}

	@portainer {
		host portainer.server.home.apra
	}

	handle portainer {
		encode gzip zstd
		reverse_proxy portainer:9443
	}
}