[Unit]
Description=Caddy Container
After=local-fs.target 
Wants=network-online.target 
After=network-online.target

[Container]
Image=docker.io/library/caddy:alpine
ContainerName=caddy
AutoUpdate=registry
#Notify=true
LogDriver=journald

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Volume=caddy-config.volume:/config
Volume=caddy-data.volume:/data
AddCapability=net_admin

[Service]
Restart=on-success

[Install]
WantedBy=default.target
